<!DOCTYPE html>
<html>
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Thi </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<!--<nav class="navbar navbar-light bg-light">-->
<!--  <div class="container-fluid">-->
<!--    <a class="link-danger text-decoration-none fw-bold fs-4 col-1 float-lg-right" href="/public/upload">Thêm-->
<!--      mới</a>-->
<!--    &lt;!&ndash;      <form class="d-flex">&ndash;&gt;-->
<!--    &lt;!&ndash;        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">&ndash;&gt;-->
<!--    &lt;!&ndash;        <button class="btn btn-outline-success" type="submit">Search</button>&ndash;&gt;-->
<!--    &lt;!&ndash;      </form>&ndash;&gt;-->
<!--  </div>-->
<!--</nav>-->
<button class="btn-outline-info rounded-3 fs-1 px-5 py-2 mx-5" ><a class="text-decoration-none" href="/insertForm/">Thêm mới</a></button>


<!--<button class="btn-outline-info rounded-3 fs-1 px-5 py-2 mx-5" ><a  class="text-decoration-none" href="/danhSach/">Danh sách</a></button>-->
<% for(var i = 0; i < data.length; i++){ %>
  <div class="m-5 rounded-3">
    <img class=" rounded" src="..\<%= data[i]._image %>" width="300" height="200">
    <div>
      <h2 class="text-start text-black-50 ">Tên phòng : <%= data[i]._room_name %> </h2>
      <p class="text-start text-black-50 ">Intro  :<%= data[i]._intro %> </p>
      <p class="text-start text-black-50 ">Description : <%= data[i]._description %> </p>
      <p class="text-start text-black-50 ">Number : <%= data[i]._number %> </p>
      <p class="text-start text-black-50 ">Price : <%= data[i]._price %> </p>
      <p class="text-start text-black-50 ">Type : <%= data[i]._type %> </p>
      <a class="link-danger text-decoration-none ms-3" href="/delete/?id=<%= data[i]._id %>">Delete</a>
      <a class="link-info text-decoration-none ms-2" href="/updateForm/?id=<%= data[i]._id %>">Update</a>
    </div>
    <hr>
  </div>
<% } %>
<!--<h2 class="my-5">Tổng bài viết: <%=data.length%> </h2>-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>
